# LaTeX aux files
*.aux
*.log
*.out
*.fls
*.fdb_latexmk
*.synctex.gz
*.xdv
*.toc
*.lof
*.lot
*.bbl
*.blg
*.bak
*~

# Build dir
out/*
!out/main.pdf   # conserva el PDF final si quieres

# macOS
.DS_Store
